In [18]:
# Map data

import json
import pandas as pd

# Load the JSON file into a Python object for the map data - 2022
with open("C:/Users/Mayur/pulse/data/map/transaction/hover/country/india/2022/1.json") as f:
    data_2022_1 = json.load(f)
    
with open("C:/Users/Mayur/pulse/data/map/transaction/hover/country/india/2022/2.json") as f:
    data_2022_2 = json.load(f)
    
with open("C:/Users/Mayur/pulse/data/map/transaction/hover/country/india/2022/3.json") as f:
    data_2022_3 = json.load(f)

with open("C:/Users/Mayur/pulse/data/map/transaction/hover/country/india/2022/4.json") as f:
    data_2022_4 = json.load(f)
    
# Load the JSON file into a Python object for the map data - 2021
with open("C:/Users/Mayur/pulse/data/map/transaction/hover/country/india/2021/1.json") as f:
    data_2021_1 = json.load(f)
    
with open("C:/Users/Mayur/pulse/data/map/transaction/hover/country/india/2021/2.json") as f:
    data_2021_2 = json.load(f)
    
with open("C:/Users/Mayur/pulse/data/map/transaction/hover/country/india/2021/3.json") as f:
    data_2021_3 = json.load(f)

with open("C:/Users/Mayur/pulse/data/map/transaction/hover/country/india/2021/4.json") as f:
    data_2021_4 = json.load(f)
    
# Load the JSON file into a Python object for the map data - 2020
with open("C:/Users/Mayur/pulse/data/map/transaction/hover/country/india/2020/1.json") as f:
    data_2020_1 = json.load(f)
    
with open("C:/Users/Mayur/pulse/data/map/transaction/hover/country/india/2020/2.json") as f:
    data_2020_2 = json.load(f)
    
with open("C:/Users/Mayur/pulse/data/map/transaction/hover/country/india/2020/3.json") as f:
    data_2020_3 = json.load(f)

with open("C:/Users/Mayur/pulse/data/map/transaction/hover/country/india/2020/4.json") as f:
    data_2020_4 = json.load(f)

# Load the JSON file into a Python object for the map data - 2019
with open("C:/Users/Mayur/pulse/data/map/transaction/hover/country/india/2019/1.json") as f:
    data_2019_1 = json.load(f)
    
with open("C:/Users/Mayur/pulse/data/map/transaction/hover/country/india/2019/2.json") as f:
    data_2019_2 = json.load(f)
    
with open("C:/Users/Mayur/pulse/data/map/transaction/hover/country/india/2019/3.json") as f:
    data_2019_3 = json.load(f)

with open("C:/Users/Mayur/pulse/data/map/transaction/hover/country/india/2019/4.json") as f:
    data_2019_4 = json.load(f)    

# Load the JSON file into a Python object for the map data - 2018
with open("C:/Users/Mayur/pulse/data/map/transaction/hover/country/india/2018/1.json") as f:
    data_2018_1 = json.load(f)
    
with open("C:/Users/Mayur/pulse/data/map/transaction/hover/country/india/2018/2.json") as f:
    data_2018_2 = json.load(f)
    
with open("C:/Users/Mayur/pulse/data/map/transaction/hover/country/india/2018/3.json") as f:
    data_2018_3 = json.load(f)

with open("C:/Users/Mayur/pulse/data/map/transaction/hover/country/india/2018/4.json") as f:
    data_2018_4 = json.load(f) 

df_map_2022_1 = pd.json_normalize(data_2022_1['data']['hoverDataList'], 'metric', ['name'])
df_map_2022_2 = pd.json_normalize(data_2022_2['data']['hoverDataList'], 'metric', ['name'])
df_map_2022_3 = pd.json_normalize(data_2022_3['data']['hoverDataList'], 'metric', ['name'])
df_map_2022_4 = pd.json_normalize(data_2022_4['data']['hoverDataList'], 'metric', ['name'])

df_map_2021_1 = pd.json_normalize(data_2021_1['data']['hoverDataList'], 'metric', ['name'])
df_map_2021_2 = pd.json_normalize(data_2021_2['data']['hoverDataList'], 'metric', ['name'])
df_map_2021_3 = pd.json_normalize(data_2021_3['data']['hoverDataList'], 'metric', ['name'])
df_map_2021_4 = pd.json_normalize(data_2021_4['data']['hoverDataList'], 'metric', ['name'])

df_map_2020_1 = pd.json_normalize(data_2020_1['data']['hoverDataList'], 'metric', ['name'])
df_map_2020_2 = pd.json_normalize(data_2020_2['data']['hoverDataList'], 'metric', ['name'])
df_map_2020_3 = pd.json_normalize(data_2020_3['data']['hoverDataList'], 'metric', ['name'])
df_map_2020_4 = pd.json_normalize(data_2020_4['data']['hoverDataList'], 'metric', ['name'])

df_map_2019_1 = pd.json_normalize(data_2019_1['data']['hoverDataList'], 'metric', ['name'])
df_map_2019_2 = pd.json_normalize(data_2019_2['data']['hoverDataList'], 'metric', ['name'])
df_map_2019_3 = pd.json_normalize(data_2019_3['data']['hoverDataList'], 'metric', ['name'])
df_map_2019_4 = pd.json_normalize(data_2019_4['data']['hoverDataList'], 'metric', ['name'])

df_map_2018_1 = pd.json_normalize(data_2018_1['data']['hoverDataList'], 'metric', ['name'])
df_map_2018_2 = pd.json_normalize(data_2018_2['data']['hoverDataList'], 'metric', ['name'])
df_map_2018_3 = pd.json_normalize(data_2018_3['data']['hoverDataList'], 'metric', ['name'])
df_map_2018_4 = pd.json_normalize(data_2018_4['data']['hoverDataList'], 'metric', ['name'])

#Data_copy.drop(["code"], axis = 1, inplace = True)

display(df_map_2022_1)
display(df_map_2022_2)
display(df_map_2022_3)
display(df_map_2022_4)

     type       count        amount                                name
0   TOTAL     7359176  1.208347e+10                          puducherry
1   TOTAL   294573150  5.127892e+11                          tamil nadu
2   TOTAL   473953246  8.831232e+11                       uttar pradesh
3   TOTAL   472703058  7.476651e+11                      madhya pradesh
4   TOTAL   582603911  1.294321e+12                      andhra pradesh
5   TOTAL     2871190  6.247330e+09                             tripura
6   TOTAL       16397  5.493943e+07                         lakshadweep
7   TOTAL     5313679  1.414450e+10                             manipur
8   TOTAL  1169506438  1.681399e+12                         maharashtra
9   TOTAL     4802803  6.237048e+09  dadra & nagar haveli & daman & diu
10  TOTAL     1674750  4.662338e+09                           meghalaya
11  TOTAL      794748  2.129030e+09           andaman & nicobar islands
12  TOTAL   191988609  3.413040e+11                             haryana
13  TOTAL   564962220  1.022050e+12                           rajasthan
14  TOTAL      630015  2.025041e+09                              ladakh
15  TOTAL    57758302  1.183900e+11                              punjab
16  TOTAL    58889886  1.322804e+11                               assam
17  TOTAL   110911210  1.947002e+11                           jharkhand
18  TOTAL   263633499  4.512273e+11                              odisha
19  TOTAL   284390434  6.114117e+11                               bihar
20  TOTAL    95280965  1.399889e+11                              kerala
21  TOTAL  1057855407  1.566649e+12                           karnataka
22  TOTAL     8600491  1.517499e+10                          chandigarh
23  TOTAL   886453385  1.670638e+12                           telangana
24  TOTAL    16088180  2.651845e+10                    himachal pradesh
25  TOTAL   260505092  5.514267e+11                         west bengal
26  TOTAL   210547146  3.925481e+11                             gujarat
27  TOTAL     1744302  4.367431e+09                              sikkim
28  TOTAL     1925952  5.544952e+09                            nagaland
29  TOTAL      604917  1.945159e+09                             mizoram
30  TOTAL    97413292  1.578470e+11                        chhattisgarh
31  TOTAL    16245311  3.314786e+10                     jammu & kashmir
32  TOTAL    12214098  1.981645e+10                                 goa
33  TOTAL     2804068  7.828092e+09                   arunachal pradesh
34  TOTAL   330999861  5.369649e+11                               delhi
35  TOTAL    44560772  7.097878e+10                         uttarakhand

     type       count        amount                                name
0   TOTAL     8643687  1.377875e+10                          puducherry
1   TOTAL   354506937  5.901347e+11                          tamil nadu
2   TOTAL   595298776  1.067515e+12                       uttar pradesh
3   TOTAL   544899829  8.670247e+11                      madhya pradesh
4   TOTAL   671134030  1.479854e+12                      andhra pradesh
5   TOTAL     3418664  6.878271e+09                             tripura
6   TOTAL       17569  5.592960e+07                         lakshadweep
7   TOTAL     6105632  1.492291e+10                             manipur
8   TOTAL  1407533113  2.006272e+12                         maharashtra
9   TOTAL     5759771  6.995160e+09  dadra & nagar haveli & daman & diu
10  TOTAL     2044649  5.281491e+09                           meghalaya
11  TOTAL     1071217  2.685920e+09           andaman & nicobar islands
12  TOTAL   234699962  3.952340e+11                             haryana
13  TOTAL   661170150  1.152834e+12                           rajasthan
14  TOTAL     1118073  3.543318e+09                              ladakh
15  TOTAL    72272823  1.373454e+11                              punjab
16  TOTAL    76334725  1.531110e+11                               assam
17  TOTAL   132925275  2.256362e+11                           jharkhand
18  TOTAL   313451598  5.100350e+11                              odisha
19  TOTAL   360145029  7.544615e+11                               bihar
20  TOTAL   106365322  1.546963e+11                              kerala
21  TOTAL  1277448960  1.867146e+12                           karnataka
22  TOTAL    10772489  1.728350e+10                          chandigarh
23  TOTAL  1063382557  1.951415e+12                           telangana
24  TOTAL    21291371  3.370911e+10                    himachal pradesh
25  TOTAL   315742141  6.485752e+11                         west bengal
26  TOTAL   252052796  4.467980e+11                             gujarat
27  TOTAL     2322081  5.611106e+09                              sikkim
28  TOTAL     2031329  5.740285e+09                            nagaland
29  TOTAL      643977  2.003187e+09                             mizoram
30  TOTAL   116584048  1.811817e+11                        chhattisgarh
31  TOTAL    23813747  4.625429e+10                     jammu & kashmir
32  TOTAL    14216054  2.287304e+10                                 goa
33  TOTAL     3556925  9.131665e+09                   arunachal pradesh
34  TOTAL   410634184  6.298557e+11                               delhi
35  TOTAL    58166878  8.831337e+10                         uttarakhand

     type       count        amount                                name
0   TOTAL     7042727  1.085432e+10                          puducherry
1   TOTAL   393496175  6.318792e+11                          tamil nadu
2   TOTAL   703589072  1.121370e+12                       uttar pradesh
3   TOTAL   731259559  1.032908e+12                      madhya pradesh
4   TOTAL   642855035  1.385077e+12                      andhra pradesh
5   TOTAL     4256579  8.648353e+09                             tripura
6   TOTAL       15241  4.758001e+07                         lakshadweep
7   TOTAL     6352742  1.538143e+10                             manipur
8   TOTAL  1486389417  1.947579e+12                         maharashtra
9   TOTAL     6465621  7.520647e+09  dadra & nagar haveli & daman & diu
10  TOTAL     4359165  9.603301e+09                           meghalaya
11  TOTAL     1584379  3.310632e+09           andaman & nicobar islands
12  TOTAL   269361810  4.280545e+11                             haryana
13  TOTAL   767541360  1.238489e+12                           rajasthan
14  TOTAL     1190858  3.605199e+09                              ladakh
15  TOTAL    84177897  1.493194e+11                              punjab
16  TOTAL    86113811  1.614891e+11                               assam
17  TOTAL   146815332  2.294129e+11                           jharkhand
18  TOTAL   386687326  5.645456e+11                              odisha
19  TOTAL   437367385  7.914465e+11                               bihar
20  TOTAL   119362904  1.622604e+11                              kerala
21  TOTAL  1189761328  1.665918e+12                           karnataka
22  TOTAL    13478173  2.055976e+10                          chandigarh
23  TOTAL  1628165401  2.706326e+12                           telangana
24  TOTAL    25164868  3.738078e+10                    himachal pradesh
25  TOTAL   356792388  7.047499e+11                         west bengal
26  TOTAL   303239732  4.974375e+11                             gujarat
27  TOTAL     2396758  5.162881e+09                              sikkim
28  TOTAL     1894113  5.364400e+09                            nagaland
29  TOTAL      659038  1.946266e+09                             mizoram
30  TOTAL   158252587  2.201616e+11                        chhattisgarh
31  TOTAL    22534394  4.096355e+10                     jammu & kashmir
32  TOTAL    13188687  1.957427e+10                                 goa
33  TOTAL     3939418  9.025111e+09                   arunachal pradesh
34  TOTAL   475592161  6.776126e+11                               delhi
35  TOTAL    63996519  9.264126e+10                         uttarakhand

     type       count        amount                                name
0   TOTAL     7556127  1.114220e+10                          puducherry
1   TOTAL   436316636  6.756897e+11                          tamil nadu
2   TOTAL   836369071  1.376379e+12                       uttar pradesh
3   TOTAL   898828268  1.303000e+12                      madhya pradesh
4   TOTAL   690017077  1.424725e+12                      andhra pradesh
5   TOTAL     5198190  1.045297e+10                             tripura
6   TOTAL       17147  5.481387e+07                         lakshadweep
7   TOTAL     6428670  1.562596e+10                             manipur
8   TOTAL  1688775272  2.210471e+12                         maharashtra
9   TOTAL     7189585  8.059641e+09  dadra & nagar haveli & daman & diu
10  TOTAL     3932448  8.996541e+09                           meghalaya
11  TOTAL     1987535  3.984674e+09           andaman & nicobar islands
12  TOTAL   296648365  4.904907e+11                             haryana
13  TOTAL   865574848  1.456957e+12                           rajasthan
14  TOTAL     1083372  2.894478e+09                              ladakh
15  TOTAL    91835180  1.681074e+11                              punjab
16  TOTAL   103981267  1.926535e+11                               assam
17  TOTAL   175300092  2.779717e+11                           jharkhand
18  TOTAL   445714743  6.522171e+11                              odisha
19  TOTAL   517084649  9.360121e+11                               bihar
20  TOTAL   132960468  1.735598e+11                              kerala
21  TOTAL  1378910371  1.904517e+12                           karnataka
22  TOTAL    17904840  2.787975e+10                          chandigarh
23  TOTAL  1819506832  2.978253e+12                           telangana
24  TOTAL    28555136  4.177934e+10                    himachal pradesh
25  TOTAL   405847597  7.877756e+11                         west bengal
26  TOTAL   341156018  5.679183e+11                             gujarat
27  TOTAL     3058339  6.458385e+09                              sikkim
28  TOTAL     2476205  6.969966e+09                            nagaland
29  TOTAL      693774  2.037911e+09                             mizoram
30  TOTAL   177960446  2.525192e+11                        chhattisgarh
31  TOTAL    27316158  4.431530e+10                     jammu & kashmir
32  TOTAL    17192674  2.492499e+10                                 goa
33  TOTAL     4632709  9.684910e+09                   arunachal pradesh
34  TOTAL   515203457  7.449150e+11                               delhi
35  TOTAL    77983880  1.154960e+11                         uttarakhand

In [82]:
# Year & Quarter
List1 = []
Quarter = 'Fourth'
for i in range(36):
    List1.append(Quarter)
    
print(List1)

#First, Second, Third, Fourth

['Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth']

In [83]:
df_map_2022_4['Quarter'] = ['Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth', 'Fourth']

In [86]:
df_map_2022_1

,type,count,amount,name,Year,Quarter
0,TOTAL,7359176,1.208347e+10,puducherry,2022,First
1,TOTAL,294573150,5.127892e+11,tamil nadu,2022,First
2,TOTAL,473953246,8.831232e+11,uttar pradesh,2022,First
3,TOTAL,472703058,7.476651e+11,madhya pradesh,2022,First
4,TOTAL,582603911,1.294321e+12,andhra pradesh,2022,First
5,TOTAL,2871190,6.247330e+09,tripura,2022,First
6,TOTAL,16397,5.493943e+07,lakshadweep,2022,First
7,TOTAL,5313679,1.414450e+10,manipur,2022,First
8,TOTAL,1169506438,1.681399e+12,maharashtra,2022,First
9,TOTAL,4802803,6.237048e+09,dadra & nagar haveli & daman & diu,2022,First
10,TOTAL,1674750,4.662338e+09,meghalaya,2022,First
11,TOTAL,794748,2.129030e+09,andaman & nicobar islands,2022,First
12,TOTAL,191988609,3.413040e+11,haryana,2022,First
13,TOTAL,564962220,1.022050e+12,rajasthan,2022,First
14,TOTAL,630015,2.025041e+09,ladakh,2022,First
15,TOTAL,57758302,1.183900e+11,punjab,2022,First
16,TOTAL,58889886,1.322804e+11,assam,2022,First
17,TOTAL,110911210,1.947002e+11,jharkhand,2022,First
18,TOTAL,263633499,4.512273e+11,odisha,2022,First
19,TOTAL,284390434,6.114117e+11,bihar,2022,First
20,TOTAL,95280965,1.399889e+11,kerala,2022,First
21,TOTAL,1057855407,1.566649e+12,karnataka,2022,First
22,TOTAL,8600491,1.517499e+10,chandigarh,2022,First
23,TOTAL,886453385,1.670638e+12,telangana,2022,First
24,TOTAL,16088180,2.651845e+10,himachal pradesh,2022,First
25,TOTAL,260505092,5.514267e+11,west bengal,2022,First
26,TOTAL,210547146,3.925481e+11,gujarat,2022,First
27,TOTAL,1744302,4.367431e+09,sikkim,2022,First
28,TOTAL,1925952,5.544952e+09,nagaland,2022,First
29,TOTAL,604917,1.945159e+09,mizoram,2022,First
30,TOTAL,97413292,1.578470e+11,chhattisgarh,2022,First
31,TOTAL,16245311,3.314786e+10,jammu & kashmir,2022,First
32,TOTAL,12214098,1.981645e+10,goa,2022,First
33,TOTAL,2804068,7.828092e+09,arunachal pradesh,2022,First
34,TOTAL,330999861,5.369649e+11,delhi,2022,First
35,TOTAL,44560772,7.097878e+10,uttarakhand,2022,First

In [87]:
display(df_map_2021_1)
display(df_map_2021_2)
display(df_map_2021_3)
display(df_map_2021_4)

,type,count,amount,name,Year,Quarter
0,TOTAL,3309432,5.899310e+09,puducherry,2021,First
1,TOTAL,136556674,2.486681e+11,tamil nadu,2021,First
2,TOTAL,204499547,3.962876e+11,uttar pradesh,2021,First
3,TOTAL,201998498,3.435340e+11,madhya pradesh,2021,First
4,TOTAL,289747970,6.724447e+11,andhra pradesh,2021,First
5,TOTAL,1511423,3.335342e+09,tripura,2021,First
6,TOTAL,9085,2.704278e+07,lakshadweep,2021,First
7,TOTAL,2303535,7.070288e+09,manipur,2021,First
8,TOTAL,517860240,7.698874e+11,maharashtra,2021,First
9,TOTAL,1925244,2.965633e+09,dadra & nagar haveli & daman & diu,2021,First
10,TOTAL,747646,2.055515e+09,meghalaya,2021,First
11,TOTAL,244752,7.837066e+08,andaman & nicobar islands,2021,First
12,TOTAL,90252784,1.689383e+11,haryana,2021,First
13,TOTAL,252730919,4.914926e+11,rajasthan,2021,First
14,TOTAL,275415,9.834198e+08,ladakh,2021,First
15,TOTAL,26770835,5.869089e+10,punjab,2021,First
16,TOTAL,19512060,5.132646e+10,assam,2021,First
17,TOTAL,44621663,8.374935e+10,jharkhand,2021,First
18,TOTAL,111460358,2.133977e+11,odisha,2021,First
19,TOTAL,114932477,2.809736e+11,bihar,2021,First
20,TOTAL,42316342,6.926097e+10,kerala,2021,First
21,TOTAL,523797492,7.549954e+11,karnataka,2021,First
22,TOTAL,3970237,7.596421e+09,chandigarh,2021,First
23,TOTAL,412572110,7.993593e+11,telangana,2021,First
24,TOTAL,7614029,1.412055e+10,himachal pradesh,2021,First
25,TOTAL,118254052,2.429372e+11,west bengal,2021,First
26,TOTAL,94774565,1.837008e+11,gujarat,2021,First
27,TOTAL,800189,2.217668e+09,sikkim,2021,First
28,TOTAL,975897,3.107450e+09,nagaland,2021,First
29,TOTAL,329575,1.101106e+09,mizoram,2021,First
30,TOTAL,39436437,6.940984e+10,chhattisgarh,2021,First
31,TOTAL,6997570,1.713835e+10,jammu & kashmir,2021,First
32,TOTAL,5331549,9.757243e+09,goa,2021,First
33,TOTAL,1177456,3.813779e+09,arunachal pradesh,2021,First
34,TOTAL,157359004,2.669283e+11,delhi,2021,First
35,TOTAL,20608402,3.628819e+10,uttarakhand,2021,First

,type,count,amount,name,Year,Quarter
0,TOTAL,3751387,6.498835e+09,puducherry,2021,Second
1,TOTAL,146158442,2.634873e+11,tamil nadu,2021,Second
2,TOTAL,241949131,4.821725e+11,uttar pradesh,2021,Second
3,TOTAL,223314680,4.255008e+11,madhya pradesh,2021,Second
4,TOTAL,352767134,8.507375e+11,andhra pradesh,2021,Second
5,TOTAL,1744429,3.468154e+09,tripura,2021,Second
6,TOTAL,11384,2.738346e+07,lakshadweep,2021,Second
7,TOTAL,3086275,7.889828e+09,manipur,2021,Second
8,TOTAL,573616486,9.151151e+11,maharashtra,2021,Second
9,TOTAL,2125083,3.157668e+09,dadra & nagar haveli & daman & diu,2021,Second
10,TOTAL,909594,2.193617e+09,meghalaya,2021,Second
11,TOTAL,341414,8.991470e+08,andaman & nicobar islands,2021,Second
12,TOTAL,105680856,2.003574e+11,haryana,2021,Second
13,TOTAL,287477039,5.617028e+11,rajasthan,2021,Second
14,TOTAL,399716,1.427259e+09,ladakh,2021,Second
15,TOTAL,32171248,6.953106e+10,punjab,2021,Second
16,TOTAL,25432905,5.919247e+10,assam,2021,Second
17,TOTAL,54002145,1.044326e+11,jharkhand,2021,Second
18,TOTAL,131824337,2.458641e+11,odisha,2021,Second
19,TOTAL,155603622,3.745803e+11,bihar,2021,Second
20,TOTAL,47191033,7.422681e+10,kerala,2021,Second
21,TOTAL,530649046,8.378872e+11,karnataka,2021,Second
22,TOTAL,4417547,8.417674e+09,chandigarh,2021,Second
23,TOTAL,495867544,1.027958e+12,telangana,2021,Second
24,TOTAL,9483902,1.649563e+10,himachal pradesh,2021,Second
25,TOTAL,141897437,2.794348e+11,west bengal,2021,Second
26,TOTAL,111841396,2.101621e+11,gujarat,2021,Second
27,TOTAL,976714,2.424900e+09,sikkim,2021,Second
28,TOTAL,1130791,3.156294e+09,nagaland,2021,Second
29,TOTAL,394340,1.122874e+09,mizoram,2021,Second
30,TOTAL,44689420,7.872877e+10,chhattisgarh,2021,Second
31,TOTAL,10027819,2.281376e+10,jammu & kashmir,2021,Second
32,TOTAL,4710135,8.012854e+09,goa,2021,Second
33,TOTAL,1568338,4.456426e+09,arunachal pradesh,2021,Second
34,TOTAL,170157264,2.819411e+11,delhi,2021,Second
35,TOTAL,24000432,4.099082e+10,uttarakhand,2021,Second

,type,count,amount,name,Year,Quarter
0,TOTAL,5121726,8.729974e+09,puducherry,2021,Third
1,TOTAL,204357404,3.652073e+11,tamil nadu,2021,Third
2,TOTAL,306543384,5.570808e+11,uttar pradesh,2021,Third
3,TOTAL,311443334,5.044126e+11,madhya pradesh,2021,Third
4,TOTAL,432032550,9.842180e+11,andhra pradesh,2021,Third
5,TOTAL,2081200,4.364134e+09,tripura,2021,Third
6,TOTAL,13370,3.880316e+07,lakshadweep,2021,Third
7,TOTAL,3941396,1.040686e+10,manipur,2021,Third
8,TOTAL,792874060,1.159257e+12,maharashtra,2021,Third
9,TOTAL,3129470,4.305939e+09,dadra & nagar haveli & daman & diu,2021,Third
10,TOTAL,1097731,2.769000e+09,meghalaya,2021,Third
11,TOTAL,449764,1.310024e+09,andaman & nicobar islands,2021,Third
12,TOTAL,140459693,2.408271e+11,haryana,2021,Third
13,TOTAL,400284753,7.105113e+11,rajasthan,2021,Third
14,TOTAL,590987,2.213985e+09,ladakh,2021,Third
15,TOTAL,42533489,8.599256e+10,punjab,2021,Third
16,TOTAL,33504441,7.570050e+10,assam,2021,Third
17,TOTAL,70795702,1.218910e+11,jharkhand,2021,Third
18,TOTAL,177362674,3.037807e+11,odisha,2021,Third
19,TOTAL,187671113,3.970628e+11,bihar,2021,Third
20,TOTAL,63028266,1.016862e+11,kerala,2021,Third
21,TOTAL,753296539,1.133235e+12,karnataka,2021,Third
22,TOTAL,6649378,1.181588e+10,chandigarh,2021,Third
23,TOTAL,622886768,1.178289e+12,telangana,2021,Third
24,TOTAL,12064167,2.131026e+10,himachal pradesh,2021,Third
25,TOTAL,181712988,3.624571e+11,west bengal,2021,Third
26,TOTAL,149248407,2.726246e+11,gujarat,2021,Third
27,TOTAL,1160594,2.989337e+09,sikkim,2021,Third
28,TOTAL,1356792,3.987417e+09,nagaland,2021,Third
29,TOTAL,478529,1.473749e+09,mizoram,2021,Third
30,TOTAL,64237938,1.046061e+11,chhattisgarh,2021,Third
31,TOTAL,13151041,3.159844e+10,jammu & kashmir,2021,Third
32,TOTAL,6467763,1.047843e+10,goa,2021,Third
33,TOTAL,1906967,5.678124e+09,arunachal pradesh,2021,Third
34,TOTAL,238760608,3.838583e+11,delhi,2021,Third
35,TOTAL,31042284,5.052750e+10,uttarakhand,2021,Third

,type,count,amount,name,Year,Quarter
0,TOTAL,6368810,1.042365e+10,puducherry,2021,Fourth
1,TOTAL,259155976,4.437240e+11,tamil nadu,2021,Fourth
2,TOTAL,406157932,7.738910e+11,uttar pradesh,2021,Fourth
3,TOTAL,404308084,6.568875e+11,madhya pradesh,2021,Fourth
4,TOTAL,522254003,1.156264e+12,andhra pradesh,2021,Fourth
5,TOTAL,2520693,5.496929e+09,tripura,2021,Fourth
6,TOTAL,15470,5.099819e+07,lakshadweep,2021,Fourth
7,TOTAL,4687439,1.265847e+10,manipur,2021,Fourth
8,TOTAL,1010731502,1.475358e+12,maharashtra,2021,Fourth
9,TOTAL,4157085,5.565839e+09,dadra & nagar haveli & daman & diu,2021,Fourth
10,TOTAL,1440193,3.848765e+09,meghalaya,2021,Fourth
11,TOTAL,636123,1.932610e+09,andaman & nicobar islands,2021,Fourth
12,TOTAL,169686975,3.092406e+11,haryana,2021,Fourth
13,TOTAL,487621597,9.039344e+11,rajasthan,2021,Fourth
14,TOTAL,630187,2.153535e+09,ladakh,2021,Fourth
15,TOTAL,52359360,1.107101e+11,punjab,2021,Fourth
16,TOTAL,46020361,1.041850e+11,assam,2021,Fourth
17,TOTAL,96009042,1.660171e+11,jharkhand,2021,Fourth
18,TOTAL,233925366,3.852510e+11,odisha,2021,Fourth
19,TOTAL,245126945,5.193716e+11,bihar,2021,Fourth
20,TOTAL,81823741,1.233421e+11,kerala,2021,Fourth
21,TOTAL,931725438,1.375471e+12,karnataka,2021,Fourth
22,TOTAL,7898903,1.437358e+10,chandigarh,2021,Fourth
23,TOTAL,775989773,1.463758e+12,telangana,2021,Fourth
24,TOTAL,14666864,2.613622e+10,himachal pradesh,2021,Fourth
25,TOTAL,225029560,4.622180e+11,west bengal,2021,Fourth
26,TOTAL,182987325,3.423826e+11,gujarat,2021,Fourth
27,TOTAL,1584345,4.196783e+09,sikkim,2021,Fourth
28,TOTAL,1631483,4.939084e+09,nagaland,2021,Fourth
29,TOTAL,553329,1.770666e+09,mizoram,2021,Fourth
30,TOTAL,84717494,1.363991e+11,chhattisgarh,2021,Fourth
31,TOTAL,16790628,3.892624e+10,jammu & kashmir,2021,Fourth
32,TOTAL,11088759,1.862726e+10,goa,2021,Fourth
33,TOTAL,2390598,6.943510e+09,arunachal pradesh,2021,Fourth
34,TOTAL,292683359,4.886953e+11,delhi,2021,Fourth
35,TOTAL,40361280,6.614811e+10,uttarakhand,2021,Fourth

In [88]:
df_Map_Transaction_2022 = pd.concat([df_map_2022_1, df_map_2022_2, df_map_2022_3, df_map_2022_4], axis=0)
df_Map_Transaction_2021 = pd.concat([df_map_2021_1, df_map_2021_2, df_map_2021_3, df_map_2021_4], axis=0)
df_Map_Transaction_2020 = pd.concat([df_map_2020_1, df_map_2020_2, df_map_2020_3, df_map_2020_4], axis=0)
df_Map_Transaction_2019 = pd.concat([df_map_2019_1, df_map_2019_2, df_map_2019_3, df_map_2019_4], axis=0)
df_Map_Transaction_2018 = pd.concat([df_map_2018_1, df_map_2018_2, df_map_2018_3, df_map_2018_4], axis=0)


df_Map_Transaction = pd.concat([df_Map_Transaction_2022,df_Map_Transaction_2021,df_Map_Transaction_2020,df_Map_Transaction_2019,df_Map_Transaction_2018], axis=0)







df_Map_Transaction.to_excel("df_Map_Transaction.xlsx")

display(df_Map_Transaction)

     type      count        amount               name  Year Quarter
0   TOTAL    7359176  1.208347e+10         puducherry  2022   First
1   TOTAL  294573150  5.127892e+11         tamil nadu  2022   First
2   TOTAL  473953246  8.831232e+11      uttar pradesh  2022   First
3   TOTAL  472703058  7.476651e+11     madhya pradesh  2022   First
4   TOTAL  582603911  1.294321e+12     andhra pradesh  2022   First
..    ...        ...           ...                ...   ...     ...
31  TOTAL    2721310  5.664720e+09    jammu & kashmir  2018  Fourth
32  TOTAL     514755  1.153005e+09                goa  2018  Fourth
33  TOTAL     176429  5.040400e+08  arunachal pradesh  2018  Fourth
34  TOTAL   29187719  3.972286e+10              delhi  2018  Fourth
35  TOTAL    3178761  5.654272e+09        uttarakhand  2018  Fourth

[720 rows x 6 columns]

In [ ]:
#df_map_2019_4.drop(['Quarter'],axis = 1, inplace=True)